<footer class='page-footer'>
  <div class='container'>
    <div class='row flex xs-flex-wrap sm-flex-wrap v-center'>
      <div class='column-6 column-xs-12 column-sm-12 xs-flex sm-flex xs-justify-around sm-justify-around'>
        <div>
          <span class='text-dark'>Made with</span><span class='text-red'> &#10084; </span><span>and &#9749; by
<a href='http://lkeaz.me' target='_blank'>Mohamed KESSOUM</a> &#169; 2020
</span>
        </div>
      </div>
      <div class='column-6 column-xs-12 column-sm-12 xs-flex sm-flex xs-justify-around sm-justify-around text-right'>
        <ul class='secondary-nav'>
          <li><a href='https://www.instagram.com/laminekessoum/'>Instagram</a></li>
          <li><a href='https://www.linkedin.com/in/ml-kessoum/'>LinkedIn</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
