<header class='page-header'>
  <div class='container flex flex-wrap items-start justify-between'>
    <a class='brand' href='/'>
      <img alt='Logo' src='/assets/media/logo_ejuwjf.png'/>
    </a>
    <nav class='main-nav'>
      <ul class='nav-items'>
        <li class="nav-trigger" (click)="onToggleEvent()">Menu</li>
        <li><a class='nav-item' href='#work'>Work</a></li>
        <li><a class='nav-item' href='#about'>About</a></li>
        <li><a class='nav-item' href='#'>Blog</a></li>
        <li><a class='nav-item' href='#contact'>Hire me</a></li>
      </ul>
    </nav>
  </div>
</header>
