<section class='hero' id='home'>
  <div class='container row flex items-center justify-between xs-flex-wrap sm-flex-wrap'>
    <div class='column-7 column-sm-12 column-xs-12 info'>
      <h1>
        Hi, I'm Mohamed
      </h1>
      <p>A <strong>Software Engineer</strong> and occasionally <strong>UI/UX Designer</strong>.</p>
      <p>
        Innovative optimized solution seeker. Happy to be a Software Engineer, I am ambitious, adventurous and
        assiduous specialized on Web/Mobile development and UI/UX Design.
      </p>
      <p>
        I believe simple solution is the best for a complex problem, starting from requirements engineering, going
        through analysis and design and allow the team to make an optimized and usable products.
      </p>
    </div>
    <div class='column-5 column-sm-12 column-xs-12 pic xs-flex sm-flex xs-justify-around sm-justify-around pic'>
      <img alt='Mohamed KESSOUM' class='circle'
           src='/assets/media/me_sly9wy.png'/>
    </div>
  </div>
</section>
