<section id='work'>
  <div class='container'>
    <div class='row flex masonry gallery'>
      <div class='item-sizer column-4 column-md-6 column-xs-12'></div>
      <a class='client-work thumb item column-4 column-md-6 column-xs-12' href='#'>
        <img alt='alt' src='/assets/media/thumb-wide_cttwx7.jpg' />
        <div class='caption'>
          <div class='tag'>Coming</div>
          <div class='title'>Soon</div>
        </div>
      </a>
      <a class='personal thumb item column-4 column-md-6 column-xs-12' href='#'>
      <img alt='alt' src='/assets/media/thumb-tall_lixzfp.jpg' />
      <div class='caption'>
        <div class='tag'>Coming</div>
        <div class='title'>Soon</div>
      </div>
    </a>
      <a class='client-work thumb item column-4 column-md-6 column-xs-12' href='#'>
        <img alt='alt' src='/assets/media/thumb-wide_kzpybb.jpg' />
        <div class='caption'>
          <div class='tag'>Coming</div>
          <div class='title'>Soon</div>
        </div>
      </a>
      <a class='personal thumb item column-4 column-md-6 column-xs-12' href='#'>
      <img alt='alt' src='/assets/media/thumb-tall_ptwcnh.jpg' />
      <div class='caption'>
        <div class='tag'>Coming</div>
        <div class='title'>Soon</div>
      </div>
    </a>
      <a class='personal thumb item column-4 column-md-6 column-xs-12' href='#'>
      <img alt='alt' src='/assets/media/thumb-tall_lixzfp.jpg' />
      <div class='caption'>
        <div class='tag'>Coming</div>
        <div class='title'>Soon</div>
      </div>
    </a>
      <a class='collaboration thumb item column-4 column-md-6 column-xs-12' href='#'>
      <img alt='alt' src='/assets/media/thumb-wide_l1ycxi.jpg' />
      <div class='caption'>
        <div class='tag'>Coming.</div>
        <div class='title'>Soon</div>
      </div>
    </a>
    </div>
  </div>
</section>
