<section class='resume' id='about'>
  <div class='container row flex flex-wrap justify-between'>
    <div class='resume-side column-6 column-xs-12 column-sm-12 flex content-start flex-wrap'>
      <div class='resume-block column-12'>
        <h3 class='resume-heading'>Experience</h3>
        <div class='resume-item'>
          <div class='resume-heading-flex'><a class='link-hover resume-link w-inline-block'
                                              href='https://www.kostango.com/'>
            <div class='resume-item-heading'>Kostango</div>
            <img alt='Guiddini' class='off-site-icon'
                 src='/assets/media/icons/5e23e682b966d9df3588bfdb_offsite-link-icon_xtzmcx.svg'/>
          </a></div>
          <div class='resume-details'>Full-Stack Developer</div>
          <div class='resume-time-span'>October, 2020 &#8211; Present</div>
        </div>
        <div class='resume-item'>
          <div class='resume-heading-flex'><a class='link-hover resume-link w-inline-block'
                                              href='https://guiddini.com.dz/'>
            <div class='resume-item-heading'>EURL Guiddini</div>
            <img alt='Guiddini' class='off-site-icon'
                 src='/assets/media/icons/5e23e682b966d9df3588bfdb_offsite-link-icon_xtzmcx.svg'/>
          </a></div>
          <div class='resume-details'>Full-Stack Developer Internship</div>
          <div class='resume-time-span'>February, 2019 &#8211; September, 2019</div>
        </div>
      </div>
      <div class='resume-block column-12'>
        <div class='resume-skills'>
          <h3 class='resume-heading'>Skills</h3>
          <div class='resume-skills-columns flex row'>
            <div class='column-7'>
              <div class='resume-item-heading'>Development</div>
              <div class='resume-details-column'>Web Development</div>
              <div class='resume-details-column'>Mobile Development</div>
              <div class='resume-details-column'>Back-End Development</div>
              <div class='resume-details-column'>Front-End Development</div>
              <div class='resume-details-column'>Database Programing</div>
              <div class='resume-details-column'>Database Administration</div>
            </div>
            <div class='column-5'>
              <div class='resume-item-heading'>Design</div>
              <div class='resume-details-column'>Wireframing</div>
              <div class='resume-details-column'>UI/UX/Design</div>
              <div class='resume-details-column'>Product Design</div>
              <div class='resume-details-column'>Marketing Design</div>
              <div class='resume-details-column'>Visual Design</div>
              <div class='resume-details-column'>Prototyping</div>
            </div>
          </div>
        </div>
        <div class='resume-tools'>
          <h3 class='resume-heading'>Tools</h3>
          <div class='resume-tools-columns flex row'>
            <div class='column-7'>
              <div class='resume-details-column'>Jetbrains collection</div>
              <div class='resume-details-column'>Visual Paradigm</div>
              <div class='resume-details-column'>Postman</div>
              <div class='resume-details-column'>Visual Studio</div>
              <div class='resume-details-column'>GitKraken</div>
            </div>
            <div class='column-5'>
              <div class='resume-details-column'>Oracle</div>
              <div class='resume-details-column'>Termius</div>
              <div class='resume-details-column'>Photoshop</div>
              <div class='resume-details-column'>Illustrator</div>
              <div class='resume-details-column'>Adobe XD</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='resume-side column-5 column-xs-12 column-sm-12 flex content-start flex-wrap'>
      <div class='resume-block column-12'>
        <h3 class='resume-heading'>Education</h3>
        <div class='resume-item'>
          <div class='resume-heading-flex'><a class='resume-link' href='https://www.usthb.dz/'>
            <div class='resume-item-heading'>University of Science and Technology Houari Boumediene</div>
            <img alt='' class='off-site-icon'
                 src='/assets/media/icons/5e23e682b966d9df3588bfdb_offsite-link-icon_xtzmcx.svg'/>
          </a></div>
          <div class='resume-details'>MS &#8226; Software Engineering</div>
          <div class='resume-time-span'>2019 &#8211; 2021 (expected)</div>
        </div>
        <div class='resume-item'>
          <div class='resume-heading-flex'><a class='resume-link' href='https://www.usthb.dz/'>
            <div class='resume-item-heading'>University of Science and Technology Houari Boumediene</div>
            <img alt='' class='off-site-icon'
                 src='/assets/media/icons/5e23e682b966d9df3588bfdb_offsite-link-icon_xtzmcx.svg'/>
          </a></div>
          <div class='resume-details'>BS &#8226; Information Systems and Software Engineering</div>
          <div class='resume-time-span'>2016 &#8211; 2019</div>
        </div>
      </div>
      <div class='resume-block column-12'>
        <h3 class='resume-heading'>Online Courses</h3>
        <div class='resume-item'>
          <div class='resume-heading-flex'>
            <a class='resume-link' href='https://courses.edx.org/courses/course-v1:MichiganX+UX509x+2T2017/'>
              <div class='resume-item-heading'>MichiganX</div>
              <img alt='' class='off-site-icon'
                   src='/assets/media/icons/5e23e682b966d9df3588bfdb_offsite-link-icon_xtzmcx.svg'/>
            </a></div>
          <div class='resume-details'>UX509x - Introduction to User Experience</div>
          <div class='resume-time-span'>August, 2017 &#8211; October, 2017</div>
        </div>
        <div class='resume-item'>
          <div class='resume-heading-flex'>
            <a class='resume-link' href='https://courses.edx.org/courses/course-v1:MichiganX+UX2+3T2016'>
              <div class='resume-item-heading'>MichiganX</div>
              <img alt='' class='off-site-icon'
                   src='/assets/media/icons/5e23e682b966d9df3588bfdb_offsite-link-icon_xtzmcx.svg'/>
            </a></div>
          <div class='resume-details'>UX2 - Understanding User Needs</div>
          <div class='resume-time-span'>July, 2017 &#8211; October, 2017</div>
        </div>
      </div>
    </div>
  </div>
</section>
